body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.pageContainer {
  padding-top: 65px;
}

.pointer {
  cursor: pointer;
}

.approveMessage {
  color: green;
}

.rejectMessage {
  color: red;
}

.deleteMessage {
  color: red;
}

.selected {
  color: green;
}

li.notification {
  margin: 65px auto 0;
}
