body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
}


.pointer {
  cursor: pointer;
}

.approveMessage {
  color: green;
}

.rejectMessage {
  color: red;
}

