html {
  height: 100%;
}

#screen_content {
  display: flex;
  width: 100%;
  background: black;
  margin: 0 auto;
  min-height: 100%;
}

#screen_text {
  position: absolute;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 50px;
  top: 50%;
}
