html {
  height: 100%;
}

#screen_content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0 auto;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#screen_text {
  position: absolute;
  margin: auto;
  color: white;
  font-size: 64px;
  top: 50%;
  transform: translateY(-50%);
  /* vertical-align: middle; */
  line-height: 1;
  padding: 0 40px;
  background-color: black;
}
